/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Oxygen';
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: salmon;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* begin homemade css */

a:link, a:visited {
  color: midnightblue;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: yellow;
}

.hero {
  font-size: 45px;
  margin-bottom: 67px;
  animation: enter-text;
  animation-duration: 2s;
  background-color: black;
  color: floralwhite;
  width: 100vw;
  max-width: 100%;
  text-align: center;
  height: 56px;
  font-style: italic;
  padding: 10px;

}

.intro-title {
  font-size: 25px;
  position: absolute;
  top: 85px;
  text-align: center;
  /*
  animation-name: introh2, enter-introh2;
  animation-duration: introh2 4s, enter-introh2 2s;
  animation-iteration-count: introh2 infinite, enter-introh2 1;
  animation-timing-function: ease;*/
  animation: introh2 4s infinite ease, enter-introh2 2s 1 ease;
}

.bio {
  line-height: 20px;
  max-width: 700px;
  font-size: 16px;
  padding: 20px;
  animation-name: enter-bio;
  animation-duration: 2s;
}

.links {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  padding: 17px;
}

.links img {
  filter: brightness(0) invert(1);
}

.contact-logo {
  width: 50px;
}

.intro-black {
  background-color: black;
  animation: intro-black 4s 1 ease;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  width: 100vw;
  max-width: 100%;
  font-size: 30px;
  padding: 19px;
  text-align: center;
}

.project {
  max-width: 900px;
  border: 1px solid black;
  box-shadow: 9px 12px 30px;
}

.project h3 {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background-color: turquoise;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: turquoise;

}

.project-image {
  max-width: 500px;
  margin-top: -3px;
}

.project-description {
  padding: 15px;
  background-color: lightsalmon;
  margin-top: -3px;
}

.tech-used {
  background-color: lightsalmon;
}

.tech-list {
  padding: 10px;
}

.tech-icon {
  width: 24px;
  margin-right: 8px;
  float: left;
}

.music {
  margin-top: 20px;
}

@keyframes introh2 {
  0% {top: 85px;}
  50% {top: 100px;}
}

@keyframes enter-introh2 {
  from {left: -2500px;}
  to {left: 15%;}
}

@keyframes enter-text {
  from {margin-top: -1000px;}
  to {margin-top: initial; }
}

@keyframes enter-bio {
  from {margin-left: 5000px;}
  to {margin-right: initial;}
}

@keyframes intro-black {
  from {height: 2000px;}
  to {height: 0px;}
}

@media screen and (max-width: 540px) {
  .project-image {
    width: 100vw;
    max-width: 100%;
  }
}

@media screen and (min-width: 520px) {
  @media screen and (max-width: 800px) {
    .chord-magic .project-image {
      max-width: 515px;
    }
  
    .chord-magic .project-description {
      padding-bottom: 0;
      line-height: 20px;
    }
  }

  .grandfather .project-image {
    width: 230px;
    border-radius: 0 0 10px 0; 
  }

  .refractor .project-image {
    width: 194px;
  }

  .image-left {
    float: left;
    margin-right: 25px;
  }
  
  .image-right {
    float: right;
    margin-left: 25px;
  }

  .project {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: lightsalmon;
  }

  .project h3 {
    border-radius: 10px 10px 0 0;
  }

  .image-left {
    border-radius: 0 0 0 10px;
  }

  .image-right {
    border-radius: 0 0 10px 0;
  }

  .project-links {
    position: relative;
  }

  .ytpoet .project-description {
    margin-top: 40px;
    line-height: 27px;
  }

  .project-list {
    max-width: 1100px;
  }

  .bottom-feeder .project-image {
    width: 400px;
  }

  .bottom-feeder .project-description {
    margin-top: 40px;
  }

  @keyframes enter-introh2 {
    from {left: -2500px;}
    to {left: 40%;}
  }
}

